window.lock-window {
    background-color: black;
    background-image: url("file:///home/mertturaclar/Pictures/019aa5b4-d1e9-4b21-baad-38e9d25b5f52_3000.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
